nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 32px;
    color: #fff;
    letter-spacing: 1px;  
}

ul{
    display: flex;
    align-items: center;
    gap: 20px;

    a{
        color: #fff;
        font-size: 20px;
    }

}

@media screen and (max-width:830px) {
    h1 {
        font-size: 28px;
    }
}
