@import url(../header/header.css);
@import url(../global/global.css);
@import url(../header/nav/nav.css);
@import url(../main/main.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding-top: 20px 0px;
    font-family: sans-serif;
}
$bg_color: #C9453B;
%global-btn{
    background-color: $bg_color ;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
@mixin change-btn($padding){
    padding: $padding;
}
.container{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;  
}
.global_btn1 {
    @extend %global-btn;
    @include change-btn(14px 36px);
}
.global_btn2 {
    @extend %global-btn;
    @include change-btn(18px 46px);
}