.content {
  gap: 30px;
}
.content .h1_there {
  font-size: 65px;
  padding-bottom: 30px;
  color: #fff;
}
.content .text_start {
  font-size: 18px;
  color: #fff;
  padding-bottom: 40px;
}

.div_location {
  padding-top: 140px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div_location .popular {
  padding-bottom: 20px;
  font-size: 43px;
}
.div_location .every_p {
  padding-bottom: 50px;
  font-size: 18px;
}
.div_location .title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.div_location .title .img_turkey {
  padding-bottom: 35px;
  max-width: 360px;
  height: 331px;
}
.div_location .title .h3_turkey {
  margin-bottom: 10px;
}
.div_location .special {
  padding-top: 140px;
}
.div_location .offerc {
  padding-bottom: 20px;
}
.div_location .comes {
  padding-bottom: 60px;
}
.div_location .dizin {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 52px;
}
.div_location .card2 {
  flex-direction: column;
}
.div_location .person {
  padding-bottom: 20px;
  width: 262px;
  height: 173px;
}
.div_location .night_h4 {
  padding-bottom: 8px;
}
.div_location .liberty {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.div_location .person_icon {
  padding-right: 50px;
}
.div_location .person_icon2 {
  padding-left: 50px;
}
.div_location .iconka {
  padding-bottom: 145px;
}
.div_location .from_blog {
  font-size: 43px;
  padding-bottom: 18px;
  color: #000;
}
.div_location .welcome {
  font-size: 18px;
  padding-bottom: 56px;
}
.div_location .canada {
  display: flex;
  gap: 32px;
}
.div_location .canada_image {
  padding-bottom: 35px;
  max-width: 100%;
}
.div_location .Community {
  gap: 30px;
}
.div_location .japan_image {
  width: 263px;
  height: 201px;
}
.div_location .h4_park {
  padding-bottom: 10px;
  font-size: 20px;
}
.div_location .welcome_to {
  padding-top: 30px;
  text-align: start;
}
.div_location .lies_prag {
  padding-top: 10px;
  padding-bottom: 10px;
}
.div_location .peace {
  padding-bottom: 10px;
  padding-top: 10px;
}
.div_location .easily {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1474px) {
  .dizin {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1161px) {
  .title {
    flex-wrap: wrap;
  }
  .canada {
    flex-direction: column;
  }
  .welcome_to {
    text-align: center;
  }
  .h4_park {
    text-align: center;
  }
  .lies_prag {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  .easily {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 830px) {
  .content .h1_there {
    font-size: 50px;
  }
}
@media screen and (max-width: 634px) {
  .easily {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .iconka {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */